.chatHeader{
    color : white;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    padding : 10px 20px;
    height: 80px;
    /* background-color: aliceblue; */
    backdrop-filter: blur(4px);
    background-color: #a9a8ab17;
}