
.chatBubble {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    border : 1px solid blue;
  }
  
  .avatar {
    margin-right: 8px;
  }
  
  .message-content {
    max-width: 70%;
    border : 1px solid blue;
  }
  
  .message-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .timestamp {
    color: gray;
  }
  
  .message-text {
    background-color: #e2f3fb; 
    padding: 8px;
    border-radius: 8px;
  }
  